body{
    background: hsl(330, 100%, 98%);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* max-width: 1440px; */
    margin-top: 15px;
    padding-top: 5px;
}
.container{
    width: 700px;
    height: 1700px;
    background: hsl(0, 0%, 100%);
    margin: auto;
    border-radius: 20px;
}
img{
    width: 610px;
    height: 300px;
    display: block;
    margin: auto;
    border-radius: 20px;
}
.content2{
    width: 610px;
    margin: auto;
    margin-top: 20px;
}
.prepare{
    width: 610px;
    height: 180px;
    background: hsl(330, 100%, 98%);
    padding-left: 25px;
    border-radius: 10px;
}
.prepare ul{
    margin-left: 26px;
    margin-top: -10px;
}
.prepare ul li{
    list-style-position: outside;
    padding-left: 20px;
    padding-top: -10px;
}
.prepare ul li + li{
    margin-top: 4;
    padding-top: 0;
}
ul{
    margin-left: 23px;
    margin-top: -10px;
}
ul li{
    list-style-position: outside;
    padding-left: 20px;
    padding-top: -10px;
}
ul li + li{
    margin-top: 4;
    padding-top: 0;
}
.first li::marker{
    color: hsl(332, 51%, 32%);
}
hr{
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin-top: 35px;
}
ol{
    margin-left: 23px;
    margin-top: -10px;
}
ol li{
    list-style-position: outside;
    padding-left: 20px;
    padding-top: -10px;
}
ol li + li{
    margin-top: 4;
    padding-top: 0;
}
tr td{
    border-bottom: 1px solid;
    padding-left: 30px;
}
table{
    border-spacing: 0;
    width: 610px;
    height: 170px;
}
td:nth-child(2){
    border-bottom: 1px solid hsl(30, 10%, 34%);
    padding-left: 220px;
}
h1, tr td:last-child, li::marker{
    color: hsl(14, 45%, 36%);
}
tr td:last-child, li::marker{
    font-weight: 600;
}
h1.head{
    font-size: 40px;
}
h3{
    color: hsl(332, 51%, 32%);
    font-family: 'assets/fonts/young-serif/YoungSerif-Regular.ttf' sans-serif;
    font-weight: 600;
}
ul, ol, p, td{
    color: hsl(30, 10%, 34%);
    font-family: sans-serif;
}

@media (max-width: 500px){
    body{
        background-color: white;
    }
    *{
        max-width: 400px;
    }
    .container{
        margin: 0;
        padding: 0;
        border-radius: 0;
        height: 1900px;
    }
    .container .content1 img{
        border-radius: 0;
    }
    img{
        margin-top: -70px;
        height: 200px;
        width: 100%;
    }
    h1.head{
        color: hsl(24, 5%, 18%);
    }
    .prepare{
        width: 330px;
        height: 180px;
        background: hsl(330, 100%, 98%);
        padding-left: 25px;
        margin-left: 5px;
        border-radius: 10px;
    }
    .content2{
        padding: 0 2rem;
        margin: 0;
        width: 380px;
    }
    .head{
        font-size: 2.2rem;
    }
    table{
        border-spacing: 0;
        width: 350px;
        height: 170px;
    }
    td:nth-child(2){
        padding-left: 20px;
    }
}
@media (max-width: 450px){
    *{
        max-width: 430px;
    }
}